In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option("max_colwidth", 140)

In [3]:
# Read the cleaned file 
df = pd.read_excel('ed2\SERB_all_5_yrs_V2_ed.xlsx')
df.shape

(4667, 11)

In [4]:
df.head(10)

,Discipline,Sub Area,Title,PI Details,Total Cost,Year,Professor,Institute,PinCode,State,TIER-I
0,Chemical Sciences,Inorganic and Physical Chemistry,Advanced Materials Towards Electrocatalytic Oxygen Evolution Reaction For Sustainable Energy Conversion,"Tharamani Chikka Nagaiah, Indian Institute of Technology Ropar, Ropar,Punjab, 140001",5783370,2019-20,Tharamani Chikka Nagaiah,"Indian Institute of Technology Ropar, Ropar,Punjab, 140001",140001.0,Punjab,IITs
1,Chemical Sciences,Inorganic and Physical Chemistry,Chemistry In Self-Assembled Coordination Architectures,"Partha Sarathi Mukherjee, Indian Institute of Science,Bangalore, Bangalore,Karnataka, 560012",5519890,2019-20,Partha Sarathi Mukherjee,"Indian Institute of Science,Bangalore, Bangalore,Karnataka, 560012",560012.0,Karnataka,IISc
2,Chemical Sciences,Inorganic and Physical Chemistry,Detoxification of Arsenic Compounds: Enzyme Mimetic Studies To Understand The Methylation of Arsenic By Ar(III) S-Adenosylmethione (SAM)...,"Gouriprasanna Roy, Shiv Nadar University, Gautambudh Nagar,Uttar Pradesh, 203207",5953775,2019-20,Gouriprasanna Roy,"Shiv Nadar University, Gautambudh Nagar,Uttar Pradesh, 203207",203207.0,Uttar Pradesh,Others
3,Chemical Sciences,Inorganic and Physical Chemistry,Investigation of Zintl phases as efficient thermoelectric materials for energy conversion,"Manoj Raama Varma, National Institute For Interdisciplinary Science & Technology, Thiruvananthapuram,Kerala,6 95019",3034800,2019-20,Manoj Raama Varma,"National Institute For Interdisciplinary Science & Technology, Thiruvananthapuram,Kerala,6 95019",NaN,Kerala,Other TIER-I
4,Chemical Sciences,Inorganic and Physical Chemistry,High Potency of Complex Dietary Î’-Glucan Fibers As Cholesterol And Low-Density Lipoprotein Lowering Agents: A Comprehensive Mechanistic ...,"Durba Roy, Birla Institute of Technology And Science Pilani-Hyderabad, Hyderabad,Telangana, 500078",3666520,2019-20,Durba Roy,"Birla Institute of Technology And Science Pilani-Hyderabad, Hyderabad,Telangana, 500078",500078.0,Telangana,BITS
5,Chemical Sciences,Inorganic and Physical Chemistry,"Photophysics of Acetylene Bridged Push-Pull Systems: Torsional Effects On Local, Intramolecular Charge Transfer And Aggregate Emissions","Ashok Kumar Mishra, Indian Institute of Technology Madras, Chennai,Tamil Nadu, 600036",4573890,2019-20,Ashok Kumar Mishra,"Indian Institute of Technology Madras, Chennai,Tamil Nadu, 600036",600036.0,Tamil Nadu,IITs
6,Chemical Sciences,Inorganic and Physical Chemistry,Metal-Based Targeted Photodynamic Therapy In Red Light,"Akhil Ranjan Chakravarty, Indian Institute of Science,Bangalore, Bangalore,Karnataka, 560012",4128695,2019-20,Akhil Ranjan Chakravarty,"Indian Institute of Science,Bangalore, Bangalore,Karnataka, 560012",560012.0,Karnataka,IISc
7,Chemical Sciences,Inorganic and Physical Chemistry,Chemical Transformations of Clathrate Hydrates Under Ultra- High Vacuum*,"T Pradeep, Indian Institute of Technology Madras, Chennai,Tamil Nadu, 600036",7653890,2019-20,T Pradeep,"Indian Institute of Technology Madras, Chennai,Tamil Nadu, 600036",600036.0,Tamil Nadu,IITs
8,Chemical Sciences,Inorganic and Physical Chemistry,Investigation of Charge Transport In Proteins And Organic Polymers of Relevance To Electrochemical Processes And Systems,"Aninda Jiban Bhattacharyya, Indian Institute of Science, Bangalore, Bangalore,Karnataka, 560012",5657695,2019-20,Aninda Jiban Bhattacharyya,"Indian Institute of Science, Bangalore, Bangalore,Karnataka, 560012",560012.0,Karnataka,IISc
9,Chemical Sciences,Inorganic and Physical Chemistry,Computational Studies On Charge Transfer And Hole Migration Dynamics In Functionalized Bimetallic Nanocluster,"Ganga Periyasamy, Bangalore University, Bangalore,Karnataka, 560056",3178485,2019-20,Ganga Periyasamy,"Bangalore University, Bangalore,Karnataka, 560056",560056.0,Karnataka,Others

In [5]:
# Check for nan columns
df.isna().sum()

Discipline      0
Sub Area        0
Title           0
PI Details      0
Total Cost      0
Year            0
Professor       0
Institute       0
PinCode       436
State           0
TIER-I          0
dtype: int64

In [6]:
# Check for spaces in the column
for col in df.select_dtypes(include = ['object']):
    print(col,': ',df[col].str.isspace().sum())

Discipline :  0
Sub Area :  0
Title :  0
PI Details :  0
Year :  0
Professor :  0
Institute :  0
State :  0
TIER-I :  0

In [7]:
# Check fields

In [8]:
df['Discipline'].value_counts()

Life Sciences                   1594
Chemical Sciences                784
Engineering Sciences             730
EMR                              641
Physical Sciences                630
Earth & Atmospheric Sciences     150
Mathematical Sciences            138
Name: Discipline, dtype: int64

In [9]:
df['Sub Area'].value_counts()

EMR                                                           641
Physical Sciences                                             630
Health Sciences                                               562
Inorganic and Physical Chemistry                              475
Organic Chemistry                                             303
Plant Sciences                                                298
Biophysics, Biochemistry, Molecular Biology & Microbiology    290
Animal Sciences                                               287
Electrical, Electronics & Computer Engineering                262
Civil And Mechanical Engineering                              186
Earth & Atmospheric Sciences                                  150
Materials, Mining & Minerals Engineering                      145
Mathematical Sciences                                         138
Chemical & Environmental Engineering                          137
Biomedical And Health Sciences                                 86
Interdiscipilnary Biological Sciences                          71
Engineering Science                                             6
Name: Sub Area, dtype: int64

In [10]:
df['Professor'].value_counts().head(10)

Dr. Anil Kumar           4
Dr. Ashwin Dalal         3
Dr. Manish Kumar         3
Prof.Naresh Bhatnagar    2
Dr.S.Suresh              2
Dr. Debabrata Ghosh      2
Sanjay Kumar             2
Dr. Sandeep Verma        2
Dr. Amit Sharma          2
Prof.Sisir Roy           2
Name: Professor, dtype: int64

In [11]:
df['Institute'].value_counts().head(20)

 Indian Institute of Technology Bombay, Mumbai,Maharashtra, 400076           38
 Indian Institute of Technology Madras, Chennai,Tamil Nadu, 600036           33
 Indian Institute of Science, Bangalore, Bangalore,Karnataka, 560012         31
 Indian Institute of Technology Kharagpur, Kharagpur,West Bengal, 721302     30
 Indian Institute of Technology Delhi, New Delhi,Delhi, 110016               26
 Indian Institute of Technology Kanpur, Kanpur,Uttar Pradesh, 208016         25
 Indian institute of Technology Kanpur, Kanpur, Uttar Pradesh, 208016        21
 Indian Institute of Technology Guwahati, Guwahati,Assam, 781039             20
 Indian Institute of Technology Roorkee, Roorkee,Uttarakhand, 247667         19
 Indian institute of Technology Bombay, Mumbai, Maharashtra, 400076          19
 University of Hyderabad, Hyderabad,Telangana, 500046                        16
 Indian institute of Science,Banglore, Bangalore, Karnataka, 560012          15
  Indian Institute of  Science, Bangalore,  Bangalore, Karnataka,  560012    14
Indian Institute of Science Bangalore 560012 Karnataka                       14
  Indian Institute of  Technology Bombay,  Mumbai, Maharashtra,  400076      14
 Banaras Hindu University, Varanasi,Uttar Pradesh, 221005                    14
 Indian institute of Technology Madras, Chennai, Tamil Nadu, 600036          14
  Indian Institute of  Technology Roorkee,  Roorkee, Uttarakhand,  247667    13
  Central Drug Research  Institute, Lucknow, Uttar  Pradesh, 226031          13
 All india institute of Medical Sciences, Delhi, New Delhi, Delhi, 110029    12
Name: Institute, dtype: int64

In [12]:
# Trim  it, remove multiple spaces, remove spaces after ',' and make it proper case
# Trim
df['Institute'] = df['Institute'].str.strip()
# Remove mutiple spaces 
df['Institute'] = df['Institute'].apply(lambda s: " ".join(s.split()))
# Remove spaces after comma
df['Institute'] = df['Institute'].str.replace(', ',',',regex=False)
# Make it proper case
df['Institute'] = df['Institute'].str.title()

In [13]:
df['Institute'].value_counts().head(20)

Indian Institute Of Technology Bombay,Mumbai,Maharashtra,400076                           92
Indian Institute Of Science,Bangalore,Bangalore,Karnataka,560012                          92
Indian Institute Of Technology Madras,Chennai,Tamil Nadu,600036                           75
Indian Institute Of Technology Kanpur,Kanpur,Uttar Pradesh,208016                         68
Indian Institute Of Technology Kharagpur,Kharagpur,West Bengal,721302                     61
Indian Institute Of Technology Delhi,New Delhi,Delhi,110016                               50
Indian Institute Of Technology Roorkee,Roorkee,Uttarakhand,247667                         44
University Of Hyderabad,Hyderabad,Telangana,500046                                        44
All India Institute Of Medical Sciences,Delhi,New Delhi,Delhi,110029                      39
Indian Institute Of Technology Guwahati,Guwahati,Assam,781039                             37
Indian Institute Of Science Education And Research Bhopal,Bhopal,Madhya Pradesh,462023    34
Indian Institute Of Science Education And Research Pune,Pune,Maharashtra,411008           33
Indian Association For The Cultivation Of Science,Kolkata,West Bengal,700032              31
Central Drug Research Institute,Lucknow,Uttar Pradesh,226031                              30
Indian Institute Of Science Education And Research Kolkata,Nadia,West Bengal,741246       29
National Institute Of Technology Rourkela,Rourkela,Orissa,769008                          29
University Of Delhi,Delhi,Delhi,110007                                                    28
Banaras Hindu University,Varanasi,Uttar Pradesh,221005                                    27
Jawaharlal Nehru University,New Delhi,Delhi,110067                                        25
National Chemical Laboratory,Pune,Maharashtra,411008                                      23
Name: Institute, dtype: int64

In [14]:
# Check for Tier1 colleges again
def tier_1(col):
    if ("indian institute of technology" in col.lower()):
        return 'IITs'
    elif ("national institute of technology" in col.lower()):
        return 'NITs'
    elif ("jawaharlal nehru centre" in col.lower()):
        return 'JNCASR' 
    elif ("indian institute of science education and research" in col.lower()):
        return 'IISER'
    elif ("560012" in col.lower()):
        return 'IISc'
    
    elif ("laboratory" in col.lower()):   # NEERI not included, CDRI included
        return 'CSIR Labs'
    elif ("center for" in col.lower()):   # NEERI not included, CDRI included
        return 'CSIR Labs'
    elif ("central" in col.lower()):
        if ("central university" in col.lower()):
            return np.nan
        else:
            return 'CSIR Labs'
    
    elif ("national institute of science education" in col.lower()):
        return 'Other TIER-I'
    elif ("tata institute of" in col.lower()):  #TIFR
        return 'Other TIER-I'
    elif ("indian association" in col.lower()):  # IACS
        return 'Other TIER-I'
    elif ("national institute for interdisciplinary" in col.lower()):  # NIIIST, Thiruvanthapuram
        return 'Other TIER-I'
    
    
    elif ("birla" in col.lower()):
        return 'BITS'
    elif ("vit university" in col.lower()):
        return 'VIT'
    elif ("vellore institute of technology" in col.lower()):
        return 'VIT'
    
    else:
        return 'Others'

In [15]:
df['TIER-I'].value_counts(dropna=False)

Others          3036
IITs             705
CSIR Labs        218
IISc             172
NITs             152
IISER            142
BITS              91
Other TIER-I      84
VIT               42
JNCASR            25
Name: TIER-I, dtype: int64

In [16]:
df['TIER-I'] = df['Institute'].apply(tier_1)
df['TIER-I'] = df['TIER-I'].fillna('Others')
df['TIER-I'].value_counts(dropna=False)

Others          2710
IITs             911
CSIR Labs        218
NITs             203
IISER            200
IISc             172
BITS              91
Other TIER-I      91
VIT               46
JNCASR            25
Name: TIER-I, dtype: int64

In [17]:
df['State'].value_counts()

Tamil Nadu                     532
West Bengal                    496
Maharashtra                    450
Karnataka                      437
New Delhi                      421
Uttar Pradesh                  376
Telangana                      276
Kerala                         165
Odisha                         157
Punjab                         152
Gujarat                        143
Assam                          141
Madhya Pradesh                 134
Rajasthan                       98
Chandigarh                      94
Uttarakhand                     92
Jammu And Kashmir               69
Andhra Pradesh                  67
Jharkhand                       66
Haryana                         51
Puducherry                      41
Goa                             40
Himachal Pradesh                31
Bihar                           26
Meghalaya                       24
Chhattisgarh                    18
Mizoram                         16
Manipur                         15
Arunachal Pradesh               12
Tripura                         10
Sikkim                           8
Nagaland                         8
Andaman And Nicobar Islands      1
Name: State, dtype: int64

In [18]:
# write as csv 
df.to_csv('processed/SERB_all_5_yrs_V3.csv', index=False)